{
    box-sizing: border-box;
}

body {
  margin: 0;
}
.hp{
    font-family: 'Nunito', sans-serif;
}
.hpheader{
    overflow: auto;
}
.hpheader h1{
    color: aliceblue;
    background-color: #ff5050;
    border:0px;
    margin:auto;
}
.hpheader p{
    color: aliceblue;
    background-color: #ff5050;
    border:5px;
    margin:auto;
    text-align: left;
    
}
.hpnav {
    overflow: hidden;
    background-color: 	#ffffcc;
}
.hpnav a {
    float: left;
    display: block;
    color: #ff5050;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
.hpnav a:hover {
    background-color: #ff5050;
    color: #ffffcc;
}
.hpcolumn {
    float: left;
    max-width: 50%;
    overflow: auto;
}
.hpmain:after{
    content: "";
    display: grid;
    clear: both;
}
.hpcolumn h2{
    color:aliceblue;
    background-color: #ff5050;
    border:5px solid;
}
.hpwg{
    height: 150px;
    width: 150px;
    float:right;
}
.logo{
    height: 60px;
    width: 60px;
    float:right;
}
h1,h2{
    color:#0033cc;
    text-align: center;
    border:3px solid #0033cc;
    background-color: #ffcc00;
}
.res{
    text-align: center;
    font-size: 20px;
}
.s4c{
    
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 10px;
    border: 3px ;
}
.s2c{
    
    display: inline-grid;
    width: 200px;
    height: 50px;
    margin: 10px;
    border: 3px ;
}
li{
    margin:5px;
}
